#radio-player {
    display: none;
}

main.player {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    min-height: 100vh;
    background-color: var(--black);
}

main.player article figure {
    text-align: center;
    margin: 0;
    color: var(--white);
    font-size: var(--huge);
}

main.player article figure div.control {
    text-align: center;
    background-image: url("/images/button-play.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    margin: 0 auto;
    max-height: 50vh;
    width: 50vh;
    height: 50vh;
}
